################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Connect4PlayGround/obj/Debug
/.vs/Connect4PlayGround/v15/sqlite3
/.vs/Connect4PlayGround/v15/.suo
